*{
    margin:0;
    padding: 0;
}

body{
    width: 100%;
}

header{
    width: 194%;
}

.container1{
    margin-top: 57px;
    display: flex;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-bottom: 13px;
    background-color: #d8d3d3;
    position: fixed;
    width: 100%;
}
hr{
    position: fixed;
    width: 100%;
}
nav:hover{
    cursor: pointer;
}
#logo img{
    width: 109px;
    height: 26px;
    margin-top: 9px;
    margin-left: 70px;
}
#button input{
    width: 460px;
    height: 41px;
    margin-top: 8px;
    border-radius: 5px;
    padding-left: 5px;
}
.search img{
    border: 2px solid grey;
    width: 33px;
    height: 37px;
    margin-top: 8px;
    
}
#button{
    margin-left: 320px;
}
.mic img{
    width: 33px;
    height: 35px;
    /* border: 2px solid grey; */
    border-radius: 100px;
    margin-left: 23px;
    padding: 3px;
    background-color: rgb(240, 240, 240); 
    margin-top: 8px;
}

.create img{
    width: 27px;
    height: 37px;
    margin-left: 320px;
    margin-top: 10px;
}
.notification img{
    width: 22px;
    height: 24px;
    margin-top: 18px;
    margin-left: 17px;
}
.avatar1 img{
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-top: 8px;
}
/* ------------------------------------------------- */

.container{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22,22,22);
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: rgb(240, 240, 240);
}
.light:hover{
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

/* --------------------------------------- */
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 30px;
    height: 30px;
    padding: 13px 23px;
}

.Home img{
    width: 54px;
    height: 45px;
}
.icon:hover{
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}
/* -------------------------------- */
main{
    min-height: 100vh;
    background-color: rgb(240, 238, 238);
}
.thumb{
    height: 208px;
    width: 320px;
}
.avatar img{
    height: 35px;
    width: 39px;
}
.dots img{
    height: 35px;
    width: 39px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.card{
    padding: 10px;
    max-width: 365px;
    display: flex;
    flex-direction: column;
    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
}
.thumb {
    height: 208px;
    width: 365px;
}
.card img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.avatar-content{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel-name{
    font-size: 20px;
    font-weight: bold;
}

.content-status{
    display: flex;
    font-size: 14px;
    gap: 10px;
}



/* hamburger icon */


#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


/* hamburger icon */



@media only screen and (min-width:1000px) and (max-width:1300px) {
    .container1 {
        margin-top: 57px;
        display: flex;
        width: 109%;
    }

    #button {
        margin-left: 145px;
    }

    .create img {
        width: 27px;
        height: 37px;
        margin-left: 89px;
    }

    .thumb {
        height: 215px;
        width: 358px;
    }

    .avatar-content {
        padding-top: 10px;
        display: flex;
        gap: 5px;
        width: 357px;
    }

    .avatar img {
        height: 63px;
        width: 75px;
    }
    
}

@media only screen and (min-width:200px) and (max-width:500px){

    aside {
        display: none;
        
    }

    .menu__btn {
        position: fixed;
        top: 32px;
        left: 12px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    nav {
        height: 54px;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        background-color: #d8d3d3;
        padding: 10px;
    }

    #logo img {
        width: 108px;
        height: 35px;
        margin-left: 48px;
    }

    .icon img {
        width: 21px;
        height: 22px;
        padding: 8px 14px;
    }

    #button {
    margin-top: -4px;
    margin-left: 27px;
    }

    #button input {
        width: 287px;
        height: 42px;
    }
    
    .search img {
        border: 2px solid grey;
        width: 34px;
        height: 37px;
        margin-top: 5px;
    }

    .mic img {
        width: 36px;
        height: 28px;
        /* border: 2px solid grey; */
        border-radius: 100px;
        margin-left: 17px;
        margin-top: 8px;
        padding: 4px;
        background-color: rgb(240, 240, 240);
    }

    .create img {
        width: 45px;
        height: 46px;
        margin-top: 2px;
        margin-left: 5px;
    }

    .notification img {
        width: 32px;
        height: 32px;
        margin-top: 9px;
        margin-left: 8px;
    }

    .avatar1 img {
        height: 49px;
    width: 52px;
    margin-left: 1px;
    margin-top: 0px;
    }

    .container {
        display: flex;
        gap: 20px;
        padding: 6px 4px;
    }

    .tag {
        padding: 6px 16px;
        border-radius: 34px;
        border: 1px solid rgb(22,22,22);
        height: 40px;
    }

    .card-container {
        display: block;
    }

    .thumb {
        height: 374px;
    width: 711px;
    }

    .avatar-content {
        padding-top: 10px;
        display: flex;
        gap: 5px;
        width: 708px;
    }

    .avatar img {
        height: 65px;
        width: 80px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 9px;
        width: 360px;
    }

    .dots img {
        height: 35px;
        width: 42px;
        margin-left: 218px;
    }

    .content-status {
        display: flex;
        font-size: 23px;
        gap: 8px;
    } 
    
}
@media only screen and (min-width:377px) and (max-width:550px){
    
    
}
@media only screen and (min-width:700px) and (max-width:950px){

    
}


